<div class="container my-5">
  <H1>Add New Employee</H1>
  <div class="col-6">
    <form #form="ngForm" (ngSubmit)="addEmployee()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="addEmployeeRequest.name"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="addEmployeeRequest.email"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="addEmployeeRequest.phone"
        />
      </div>
      <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input
          type="number"
          class="form-control"
          id="salary"
          name="salary"
          [(ngModel)]="addEmployeeRequest.salary"
        />
      </div>
      <div class="mb-3">
        <label for="designation" class="form-label">Designation</label>
        <input
          type="text"
          class="form-control"
          id="designation"
          name="department"
          [(ngModel)]="addEmployeeRequest.department"
        />
      </div>
      <button type="Submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
